<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header">
</head>

<body>

<div class="container">

    <h3>Note View</h3>

    <div class="card" th:object="${note}">
        <div class="card-body">
            <h4 th:text="*{title}" class="card-title">Title</h4>
            <h6 th:text="*{date}" class="card-subtitle mb-2 text-muted">Date</h6>
            <p th:text="*{content}" class="card-text"></p>
            <a th:href="@{/notes/list}" class="card-link">List</a>
            <a th:href="@{/notes/{id}/edit(id=*{id})}" class="card-link">Edit</a>
            <a th:href="@{/notes/{id}/delete(id=*{id})}" class="card-link">Delete</a>
        </div>
    </div>

</div><!-- /.container -->

</body>
</html>